.full-bg {
  background: #16222A;
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);
  background: linear-gradient(to right, #3A6073, #16222A);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.content {
  padding: 7rem 0;
}

.form-control {
  border: none;
  color: #DCDCDC;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: darkgray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: darkgray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: darkgray;
}

.form-control:active, .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.btn, .form-control, .custom-select {
  height: 45px;
}

.custom-select:active, .custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.btn {
  border: none;
  border-radius: 0;
  font-size: 12px;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.btn.btn-primary {
  background: mediumspringgreen;
  color: #fff;
  padding: 15px 20px;
}

.btn:hover {
  color: #fff;
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact-wrap .col-form-label {
  font-size: 14px;
  color: indianred;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0;
}

.contact-wrap .form, .contact-wrap .contact-info {
  padding: 40px;
}

.contact-wrap .form h3 {
  font-family: "Roboto", sans-serif;
  color: mediumspringgreen;
  font-size: 20px;
  margin-bottom: 30px;
}

.contact-wrap .contact-info {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.contact-wrap .contact-info a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 1200px) {
  .contact-wrap .contact-info {
    height: 400px !important;
  }
}

.ng-invalid.ng-touched {
  border-bottom: 1px solid red;
}

label.error {
  font-size: 14px !important;
  color: red !important;
  border-bottom: none;
}

.no-border {
  border-bottom: none !important;
}

#message {
  resize: vertical;
}

.hidden {
  display: none;
}

#form-message-warning {
  color: #B90B0B;
}

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}
