.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #33cccc;
  border: none;
  border-radius: 5px;
}

.wider {
  width: 100%;
}

.btn-success {
  background: darkred;
}

.btn:hover {
  opacity: 0.9;
  background: #28a33f;
}

.full-bg {
  background: url('../../../assets/images/background.jpg') no-repeat fixed center center;
}

.wrapper {
  height: 94.2vh;
}

.container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  z-index: 10;
  padding-left: 50px;
}

.about-box {
  max-width: 30%;
  text-align: left;
  background: transparent;
  box-shadow: 0 8px 6px -6px green;
}

@media (max-width: 750px) {
  .about-box {
    max-width: 100%;
    text-align: center;
    padding: 20px;
    margin: auto;
  }

  .about-box h1 {
    font-size: 20px;
  }

  .container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
}

@media (max-width: 300px) {
  .about-box p {
    display: none;
  }

  .about-box {
    padding: 10px 0;
    text-align: left;
    font-size: 15px;
  }
}
