<app-header></app-header>

<section id="front" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up">
        <div>
          <h1>InsulinX</h1>
          <h2>The best solution for insulin index calculation, easy to use, high performance and reliable on any
            device.</h2>
        </div>
      </div>
      <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 front-img"
           data-aos="fade-up">
        <img src="../../../assets/images/pancreas-home-no-bg.png" class="img-fluid" alt="complete-clinic">
      </div>
    </div>
  </div>
</section>

<main id="main">
  <section id="features" class="features">
    <div class="container">
      <div class="section-title">
        <h2>InsulinX Features</h2>
        <p>The application contains a high number of features, designed to make the life of patients and medical
          personal easier. To enjoy each feature at maximum, we recommend to create a free personal account.</p>
      </div>
      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <h4>Index calculation</h4>
                <p>We provide a configurable form which allows to calculate up to 15 insulin indexes, including the most
                  used ones</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                <h4>Result interpretation</h4>
                <p>After the data is inserted and the indexes are calculated, we deliver chart interpretation for
                  glucose and insulin levels</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                <h4>History</h4>
                <p>Each time a number of indexes is calculated, the results are stored in a secured database to be
                  visualized later</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="600">
                <h4>Excel export</h4>
                <p>You can directly download your result in a .xlsl document, or you can filter what to download from
                  history directly</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="700">
                <h4>PDF generator</h4>
                <p>On the result page, you have the possibility to generate from the charts a pdf that can be shared
                  with anyone</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="800">
                <h4>Model predictions</h4>
                <p>With minimal information, our models can predict if you have diabetes or how the disease will evolve
                  in one year</p>
              </div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2"
             data-aos="fade-left" data-aos-delay="100">
          <img src="../../../assets/images/hospital-staff-removebg.png" class="img-fluid" alt="Features">
        </div>
      </div>
    </div>
  </section>

  <section id="details" class="details">
    <div class="container">
      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="../../../assets/images/chart-presentation.png" class="img-fluid" alt="Chart presentation">
        </div>
        <div class="col-md-8 pt-4" data-aos="fade-up">
          <h3>Input visualization and interpretation using self-explanatory charts</h3>
          <p class="font-italic">
            Your data from the OGTT test is analyzed and graphically represented using powerful charts.
            Based on your input, we can determine in what health category you are situated.
          </p>
          <p>There are up to 12 category of diabetes, insulin resistance or pre-diabetes as follows:</p>
          <ul>
            <li> Healthy, Impaired Fasting Glucose, Impaired Glucose Tolerance</li>
            <li> Impaired Fasting Glucose + Impaired Glucose Tolerance, Diabetes</li>
            <li> Diabetes with Impaired Glucose Tolerance, Diabetes with Impaired Fasting Glucose</li>
            <li> Diabetes with Normal Fasting Glucose, Diabetes with Normal 2 hour Post-Glucose</li>
            <li> Insulin Resistance derived from glucose at 30 or 60 minutes during OGTT test</li>
          </ul>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="../../../assets/images/calc-image.png" class="img-fluid" alt="Index calculation">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Index calculation using accurate methods</h3>
          <p class="font-italic">
            The application uses data and formulas from the trustworthy articles in medicine and diabetes.
            We are providing the most used indexes but also newer ones.
          </p>
          <p>
            For index calculation, we provide multiple ways of calculation. Inside the app, one can find
            the dynamic form, which is built to suits your need and to request only the data that is important
            for the selected indexes.
          </p>
          <p>
            You also have an offline option, in case you have no internet connection. What you have to do is to
            export as Excel one of the previous results or the current one, so that you have access to the sheet
            with input data and formulas. You can change any time your input and the formula will be re-evaluated.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="../../../assets/images/article.png" class="img-fluid" alt="test">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Scientific articles used</h3>
          <p class="font-italic">For the index calculation, we use data only from scientific research, published
          in specialized articles.</p>
          <p>
            For interested readers, we decided to cite some of the articles used for documentation about indexes or medical
            terms: <i>Assessment  of  insulin  sensitivity/resistance  in  epidemiological studies (Zofia Radikova) </i>,
            <i>Glycemic Variability and Diabetes Complications:  Does it Matter? Of Course It Does! (Irl B. Hirsch)</i>,
            <i>SPISE and other fasting indexes of insulin resistance: risks of coronary heart disease or type 2 diabetes.
              Comparative cross-sectional and longitudinal aspects (Jan Cederholm and Bjorn Zethelius)</i>,
            <i>Glycaemia variability in diabetes: clinical and therapeutic implications
              (MD Prof. David Owens, Prof. Antonio Ceriello, MD. Prof. Louis Monnier)</i>.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="../../../assets/images/diabetes-class.png" class="img-fluid" alt="test">
        </div>
        <div class="col-md-8 pt-5 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Diabetes classification</h3>
          <p class="font-italic">Using the latest techniques and algorithms from Machine Learning industry,
          the application can detect if a person has or not diabetes.</p>
          <p>
            The model has an accuracy of 95% in detecting diabetes, in any stage, based on simple data
            obtained from medical analysis, easy to obtain by anyone. Using this powerful tool, one can know if
            he is suspect of diabetes and maybe can prevent it.
          </p>
          <p>
            However, in case of symptoms, one should consult a specialist, whatever the prediction of the model.
            It is indicated to consult a medic also when the model predicts that someone has diabetes, to exclude
            any possible risk or complication.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="../../../assets/images/diabetes-evolution.svg" class="img-fluid" alt="test">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Diabetes evolution</h3>
          <p class="font-italic">
            Utilizing regression techniques, one can check how the disease will evolve in one year. As the previous model,
            it is using the latest information about regression problems.
          </p>
          <p>
            Using easy to obtain data, the model can predict a quantitative measurement which is used
            to measure how the disease will evolve after a year from the current day. The less the value obtained,
            the better is your current lifestyle or treatment.
          </p>
          <p>
            The predicted value vary from 25 to and 346, and a value bigger or equal to 250 means that you
            should do a massive change in your lifestyle. A value between 150 and 250 signify that one should
            keep an eye on the current situation. A value below 150 means that the disease is held under control
            correctly.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<footer id="footer">
  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>InsulinX</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>

