<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Confirm operation</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modalManager.closeConfirmModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>{{strongText}}</strong></p>
  <p>{{text}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modalManager.closeConfirmModal()">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="modalManager.onOkPressedConfirmModal()">Ok</button>
</div>
