.full-bg {
  background: url('../../../assets/images/home-background.jpg') no-repeat fixed center center;
}

main {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

p {
  font-size: 18px !important;
  font-weight: bolder !important;
}
