.wrapper {
  background: url('../../../assets/images/ml-background.jpg') no-repeat center center/cover;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

main {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  text-align: justify;
}

.container {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  top: 80px;
  left: 50px;
  min-height: 50%;
  height: auto;
  width: 45%;
  background-color: rgba(2, 50, 88, 0.5);
  border: 1px solid rgba(2, 50, 88, 0.5);
  border-radius: 5%;
}

p {
  font-size: 18px !important;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

.result {
  margin-top: 10px;
  bottom: 0;
  left: 50%;
}

.dark-green {
  color: #015301;
}
