.wrapper {
  background: url('../../../assets/images/login-register.png') no-repeat center center/cover;
}

.container {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  top: 50px;
  left: 50px;
  background-color: white;
  min-height: 60%;
  height: auto;
  width: 50%;
  background-color: rgba(2, 50, 88, 0.3);
}

@media(max-width: 1024px) {
  .container {
    background-color: transparent;
    display: initial;
    top: initial;
    left: initial;
    align-content: initial;
    align-items: initial;
    justify-content: initial;
  }

  #reduce-width {
    width: 50%;
    margin: 0 auto;
  }
}
