<div class="wrapper">
  <!-- Sidebar  -->
  <app-sidebar></app-sidebar>
  <!-- Page Content  -->
  <div id="content">
    <app-complex-header></app-complex-header>

    <div class="container">
      <form id="reduce-width" [formGroup]="form">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
        <div class="form-row">
          <button type="submit" class="btn btn-danger rounded ml-1 mr-2 mb-2"
          (click)="onSubmitData()">Compute</button>
          <button type="button" class="btn btn-danger rounded mb-2 mr-2" (click)="onConvertMgMmol()">
            {{this.placeholderGlucose}}<i class="fas fa-exchange-alt"></i>{{this.alternatePlaceholderGlucose}}</button>
          <button type="button" class="btn btn-danger rounded mb-2 ml-1" (click)="onConvertPmoluUI()">
            {{this.placeholderInsulin}}<i class="fas fa-exchange-alt"></i>{{this.alternatePlaceholderInsulin}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
