<div class="wrapper">
  <!-- Sidebar  -->
  <app-sidebar></app-sidebar>
  <!-- Page Content  -->
  <div id="content">
    <app-complex-header></app-complex-header>

    <div class="container">
      <form id="reduce-width" [formGroup]="form">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
        <div class="form-row">
          <button type="submit" class="btn btn-danger rounded ml-1 mr-3 mb-2">Compute a result</button>
          <button type="button" class="btn btn-danger rounded mb-2" #convert>Convert to mmol/l-pmol/l</button>
        </div>
      </form>
    </div>
  </div>
</div>
