.wrapper {
  background: url('../../../assets/images/login-register.png') no-repeat center center/cover;
  display: flex;
  width: 100%;
  align-items: stretch;
}

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

.container {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  top: 50px;
  left: 50px;
  background-color: white;
  height: 60%;
  width: 60%;
  background-color: rgba(2, 50, 88, 0.3);
}
