<app-header></app-header>
<div class="container-login-register">
  <router-outlet></router-outlet>
  <form *ngIf="resetPassword" #f="ngForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username-email" class="font-weight-bold">Username or Email</label>
      <input type="text"
             class="form-control"
             id="username-email"
             placeholder="John215 or johndoe@gmail.com"
             name="username"
             ngModel
             required
             minlength="6"
             maxlength="50">
    </div>
      <small id="emailHelp" class="form-text text-warning font-weight-bold">We'll never share your email with anyone
        else.</small>
    <div class="form-group mt-3">
      <label for="password" class="font-weight-bold">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        name="password"
        ngModel
        minlength="8"
        maxlength="50"
        required>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="remember-me">
      <label class="form-check-label" for="remember-me">Remember me</label>
    </div>
    <button type="submit"
            class="btn btn-success wider"
    [disabled]="!f.valid">Login!</button>
    <button type="button" (click)="resetPassword = true" class="btn-link bg-transparent border-0">Forgot your password?</button>
    <p class="py-3"><a href="#"><img src="../../../assets/images/search.png" alt=""> - Login with Gmail</a></p>
  </form>
</div>
<app-footer></app-footer>

