<app-header></app-header>
<div class="full-bg">
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-4">
              <h2>Index <b>History</b></h2>
            </div>
            <div class="col-sm-8">
              <a href="#" class="btn btn-primary"><span class="icons"><i class="fa fa-filter"></i></span>
                <span>Filter</span></a>
              <a href="#" class="btn btn-secondary"><span class="icons mr-1"><i class="fas fa-file-excel"></i></span>
                <span>Export to Excel</span></a>
            </div>
          </div>
        </div>
        <div class="table-filter">
          <div class="row">
            <div class="col-sm-3">
              <div class="show-entries">
                <span>Show</span>
                <select class="form-control">
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                </select>
                <span>entries</span>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="filter-group">
                <label>Indexes</label>
                <select class="form-control">
                  <option>All</option>
                  <option>Cederholm</option>
                  <option>Gutt</option>
                  <option>HOMA</option>
                  <option>Quicki</option>
                  <option>Revised Quicki</option>
                  <option>Avingon</option>
                  <option>Matsuda</option>
                  <option>Ogis</option>
                  <option>Belfiore</option>
                  <option>Stumvoll</option>
                  <option>McAuley</option>
                  <option>Spise</option>
                </select>
              </div>
              <div class="filter-group">
                <label>Date</label>
                <select class="form-control">
                  <option>All</option>
                  <option>Today</option>
                  <option>Last 7 days</option>
                  <option>Last Month</option>
                  <option>Last Year</option>
                </select>
              </div>
              <div class="filter-group">
                <label>Status</label>
                <select class="form-control">
                  <option>Any</option>
                  <option>Healthy</option>
                  <option>Insulin Resistance</option>
                  <option>Prediabetes</option>
                  <option>Diabetes</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Location</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Net Amount</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td><a href="#"><img src="/examples/images/avatar/1.jpg" class="avatar" alt="Avatar"> Michael Holz</a></td>
            <td>London</td>
            <td>Jun 15, 2017</td>
            <td><span class="status text-success">&bull;</span> Delivered</td>
            <td>$254</td>
            <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i
              class="material-icons">&#xE5C8;</i></a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td><a href="#"><img src="/examples/images/avatar/2.jpg" class="avatar" alt="Avatar"> Paula Wilson</a></td>
            <td>Madrid</td>
            <td>Jun 21, 2017</td>
            <td><span class="status text-info">&bull;</span> Shipped</td>
            <td>$1,260</td>
            <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i
              class="material-icons">&#xE5C8;</i></a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td><a href="#"><img src="/examples/images/avatar/3.jpg" class="avatar" alt="Avatar"> Antonio Moreno</a>
            </td>
            <td>Berlin</td>
            <td>Jul 04, 2017</td>
            <td><span class="status text-danger">&bull;</span> Cancelled</td>
            <td>$350</td>
            <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i
              class="material-icons">&#xE5C8;</i></a>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td><a href="#"><img src="/examples/images/avatar/4.jpg" class="avatar" alt="Avatar"> Mary Saveley</a></td>
            <td>New York</td>
            <td>Jul 16, 2017</td>
            <td><span class="status text-warning">&bull;</span> Pending</td>
            <td>$1,572</td>
            <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i
              class="material-icons">&#xE5C8;</i></a>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td><a href="#"><img src="/examples/images/avatar/5.jpg" class="avatar" alt="Avatar"> Martin Sommer</a></td>
            <td>Paris</td>
            <td>Aug 04, 2017</td>
            <td><span class="status text-success">&bull;</span> Delivered</td>
            <td>$580</td>
            <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i
              class="material-icons">&#xE5C8;</i></a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="clearfix">
          <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
          <ul class="pagination">
            <li class="page-item disabled"><a href="#">Previous</a></li>
            <li class="page-item"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item active"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link">6</a></li>
            <li class="page-item"><a href="#" class="page-link">7</a></li>
            <li class="page-item"><a href="#" class="page-link">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer class="hide-small"></app-footer>
