<nav id="sidebar" [class]="{'active': active}">
  <div class="sidebar-header">
    <h3>InsulinX Sidebar Menu</h3>
  </div>

  <p>Choose action</p>
  <ul class="list-unstyled components">
    <li class="active">
      <a href="#calculateSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Choose
        indexs</a>
      <ul class="collapse list-unstyled" #indexList id="calculateSubmenu">
        <li>
          <a (click)="onClickIndex('cederholm')" id="cederholm">Cederholm index</a>
        </li>
        <li>
          <a (click)="onClickIndex('gutt')" id="gutt">Gutt index</a>
        </li>
        <li>
          <a (click)="onClickIndex('avingon')" id="avingon">Avingon index</a>
        </li>
        <li>
          <a (click)="onClickIndex('matsuda')" id="matsuda">Matsuda index</a>
        </li>
        <li>
          <a (click)="onClickIndex('ogis')" id="ogis">Ogis index</a>
        </li>
        <li>
          <a (click)="onClickIndex('belfiore')" id="belfiore">Belfiore index</a>
        </li>
        <li>
          <a (click)="onClickIndex('stumvoll')" id="stumvoll">Stumvoll index</a>
        </li>
        <li>
          <a (click)="onClickIndex('homa')" id="homa">HOMA index</a>
        </li>
        <li>
          <a (click)="onClickIndex('quicki')" id="quicki">Quicki index</a>
        </li>
        <li>
          <a (click)="onClickIndex('revised')" id="revised">Revised Quicki</a>
        </li>
        <li>
          <a (click)="onClickIndex('mcauley')" id="mcauley">McAuley index</a>
        </li>
        <li>
          <a (click)="onClickIndex('spise')" id="spise">SPISE index</a>
        </li>
      </ul>
    </li>
    <li>
      <a *ngIf="isLoggedUser" (click)="navigateToHistory()">History</a>
    </li>
    <li>
      <a *ngIf="isLoggedUser" href="#settingsSubmenu" data-toggle="collapse" aria-expanded="false"
         class="dropdown-toggle">Settings</a>
      <ul *ngIf="isLoggedUser" class="collapse list-unstyled" id="settingsSubmenu">
        <li>
          <a (click)="onClickSettingsEvent('accountPassword')">Change password</a> <!--If not connected with gmail-->
        </li>
        <li>
          <a (click)="onClickSettingsEvent('accountInfo')">Add information to account</a>
        </li>
        <li>
          <a (click)="onClickSettingsEvent('accountHistory')">Reset History</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Read More</a>
    </li>
    <li>
      <a [routerLink]="['/contact-us']"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">Contact Us</a>
    </li>
  </ul>

  <ul class="list-unstyled CTAs">
    <li>
      <button class="btn-op bg-success text-warning" (click)="calculateIndexes()">Calculate selected index</button>
    </li>
  </ul>
</nav>
