<div class="wrapper">
  <!-- Sidebar  -->
  <app-sidebar></app-sidebar>
  <!-- Page Content  -->
  <div id="content">
    <app-complex-header></app-complex-header>
    <main>
      <h2>Predict diabetes evolution</h2>
      <p>Based on data provided from basic medical analysis, the model can predict how the disease will evolve in one
        year. This is very useful, because one can
        change it's lifestyle if the prediction suppose that the disease will evolve in a bad manner of to keep the
        current lifestyle, in case the evolution is
        predicted to be ok. The value is between 40 and 340, a larger value meaning a bad evolution. Moreover, you must
        talk to a specialist and not lie
        your entire trust in this feature.</p>
    </main>
    <div class="container">
      <form id="reduce-width" (ngSubmit)="onSubmitClassification()" #evol="ngForm">
        <div class="row">
          <div class="col-md-4 form-group">
            <label for="age" class="text-warning">Age*</label>
            <input type="number"
                   id="age"
                   placeholder="23"
                   name="age"
                   [ngModel]="this.age"
                   appOnlyNumbers
                   required
                   class="form-control">
          </div>
          <div class="col-md-4 form-group">
            <label for="gender" class="text-warning">Gender*</label>
            <select class="form-control"
                    name="gender"
                    [ngModel]="this.gender"
                    id="gender"
                    required>
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <label for="bmi" class="text-warning">BMI*</label>
            <input type="text"
                   required
                   class="form-control"
                   name="bmi"
                   ngModel
                   appDecimalsNumbers
                   placeholder="22"
                   id="bmi">
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 form-group">
            <label for="glucose" class="text-warning">Glucose*</label>
            <input type="text"
                   class="form-control"
                   name="glucose"
                   ngModel
                   required
                   appDecimalsNumbers
                   [placeholder]="placeholderGlucose"
                   id="glucose">
          </div>
          <div class="col-md-4 form-group">
            <label for="cholesterol" class="text-warning">Cholesterol*</label>
            <input type="text"
                   class="form-control"
                   name="cholesterol"
                   ngModel
                   required
                   appDecimalsNumbers
                   [placeholder]="placeholderGlucose"
                   id="cholesterol">
          </div>
          <div class="col-md-4 form-group">
            <label for="hdl" class="text-warning">HDL*</label>
            <input type="text"
                   class="form-control"
                   name="hdl"
                   ngModel
                   appDecimalsNumbers
                   required
                   [placeholder]="placeholderGlucose"
                   id="hdl">
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 form-group">
            <label for="ldl" class="text-warning">LDL*</label>
            <input type="number"
                   class="form-control"
                   id="ldl"
                   name="ldl"
                   ngModel
                   required
                   appDecimalsNumbers
                   [placeholder]="placeholderGlucose">
          </div>

          <div class="col-md-4 form-group">
            <label for="bloodPressure" class="text-warning">Blood Pressure*</label>
            <input type="text"
                   class="form-control"
                   ngModel
                   required
                   appDecimalsNumbers
                   name="bloodPressure"
                   placeholder="mmHg"
                   id="bloodPressure">
          </div>
          <div class="col-md-4 form-group">
            <label for="ltg" class="text-warning">Triglyceride*</label>
            <input type="number"
                   class="form-control"
                   name="ltg"
                   ngModel
                   required
                   appDecimalsNumbers
                   id="ltg"
                   [placeholder]="placeholderGlucose">
          </div>
        </div>

        <button type="submit"
                [disabled]="!evol.valid"
                class="btn btn-danger rounded ml-1 mr-2 mb-2">Compute
        </button>
        <button type="button" class="btn btn-danger rounded mb-2 mr-2" (click)="onConvertMgMmol()">
          {{this.placeholderGlucose}}<i class="fas fa-exchange-alt"></i>{{this.alternatePlaceholderGlucose}}</button>
        <p class="result"
           [ngClass]="{'text-danger': this.category === 2, 'dark-green': this.category === 0, 'dark-yellow': this.category === 1}">
          {{numericResult}}{{resultText}}</p>
      </form>
    </div>
  </div>
</div>
