.btn {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.text-darker {
  color: darkslategray;
}

.wider {
  width: 100%;
}

.adaptive-width {
  width: 20%;
}

.btn:hover {
  opacity: 0.9;
  background: #28a33f;
}

.full-bg {
  background: url('../images/login-register.jpg') no-repeat center center/cover;
}

.container-login-register {
  min-height: 90vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.container-login-register a {
  text-decoration: none;
}

.container-login-register a:hover {
  color: #28a33f;
}

input.ng-invalid.ng-touched {
  border: 3px solid red;
}

@media (max-width: 1024px) {
  .container-login-register {
    min-width: 100%;
  }

  .adaptive-width {
    width: 65%;
  }
}
