.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #33cccc;
  border: none;
  border-radius: 5px;
}

.wider {
  width: 100%;
}

.btn-success {
  background: darkred;
}

.btn:hover {
  opacity: 0.9;
  background: #28a33f;
}

.full-bg {
  background: url('../images/login-register.png') no-repeat center center/cover;
}

.container-login-register {
  min-height: 90vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.container-login-register a {
  text-decoration: none;
}

.container-login-register a:hover {
  color: #28a33f;
}

input.ng-invalid.ng-touched {
  border: 3px solid red;
}

@media (max-width: 570px) {
  .btn {
    padding: 10px 10px;
  }
}
