<div class="full-bg">
<app-header></app-header>
<div class="container-login-register">
  <form #f="ngForm" class="wide" (ngSubmit)="resetPassword()">
    <div class="form-group mt-3">
      <label for="password" class="font-weight-bold">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        name="password"
        ngModel
        minlength="8"
        maxlength="50"
        required>
    </div>
    <div class="form-group">
      <label for="confirm-pass" class="font-weight-bold">Confirm password</label>
      <input
        type="password"
        class="form-control"
        id="confirm-pass"
        placeholder="Password"
        name="confirmPassword"
        ngModel
        appPasswordValidator="password"
        required
        #confirm="ngModel"
      >
    </div>
    <small *ngIf="!confirm.valid && confirm.touched"
           id="passHelp"
           class="form-text text-warning font-weight-bold text-center mb-3">Password & Confirm Password must be the same!</small>
    <button type="submit"
            class="btn btn-success wider"
            [disabled]="!f.valid">Reset Password</button>
  </form>
</div>
<app-footer></app-footer>
</div>
